<!DOCTYPE html>
<head>
	<title>Artwork Explorer</title>
	<!-- <link rel='stylesheet' id='font-css'  href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' type='text/css' media='all' /> -->
	<link rel='stylesheet' id='font-css'  href='./css/style.css' type='text/css' media='all' />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
	<style>
		.leaflet-overlay-pane svg path{
		    pointer-events: auto;
		}
	</style>
</head>
<body>
<div id='wrapper'>
     <div id='map-canvas'></div>
		 <div id="controlPanel">
				<button type="button" onclick="zoomOut()">Zoom Out</button>
		 </div>
		 <div id="titleHeader">
     	 <h1>FIDT: Flickr Interactive Display Tool</h1>
     </div>
     <!-- <div id="displayInfo">
     		<div>
     		<h3>Display by Camera Type</h3>
     		<p>
     			<a href="#" id="iPhoneLink">iPhone</a>
     		</p>

     		<p>
     			<small>
     				<a href="#" id="resetLink">Reset Map</a>
     				<a href="#" id="clearLink" class="right">Clear all Markers</a>
     			</small>
     		</p>
     		</div> -->
     </div>
     <div id="displayWrapper">
     		<div><span id="photoNum">0</span> photos returned</div>
     </div>
</div>

<!-- The Javascript from external websites gets Loaded Here -->
<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.2.min.js?ver=1.10.2'></script>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true"> </script> -->
<!-- <script type='text/javascript' src='http://arshaw.com/xdate/downloads/0.8/xdate.js'></script> -->
<!-- <script type='text/javascript' src='./js/mapStyle.js'></script> -->

<!--This section will create a Map using Leaflet.js  -->
<script type="text/javascript">
    var map //leaflet obj


		var map_level = "world"
		var maps ={world:"maps/continent.geojson",continent:"maps/countries.geojson",country:"maps/cities.geojson" }


		d3.json(maps[map_level],main)


    function main(data) {
				addLmaps()
	      drawFeatures(data)
    }

    function addLmaps() {
				map = new L.map('map-canvas').setView([0, 0], 2);
				var layer = new L.StamenTileLayer("toner-background", {
					attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
				});
				map.addLayer(layer);

				L.svg({clickable:true}).addTo(map);
    }

    function projectPoint(x, y) {
        var point = map.latLngToLayerPoint(new L.LatLng(y, x));
        this.stream.point(point.x, point.y);
    }

    function drawFeatures(data) {
        var svg = d3.select("#map-canvas").select("svg")
        .attr("pointer-events", "auto")

        var g = svg.select("g")

        var transform = d3.geoTransform({point: projectPoint});
        var path = d3.geoPath().projection(transform)

        var featureElement = g.selectAll("path")
            .data(data.features)
						.enter()
            .append("path")
            .attr("stroke", "gray")
            .attr("fill", "green")
            .attr("fill-opacity", 0.6)
            .on("mouseover", function(d){
                d3.select(this).attr("fill", "red")
            })
            .on("mouseout", function(d){
                d3.select(this).attr("fill", "green")
            })
            .on("click", function(d){
                //d3.select(this).attr("fill", "green")
                //alert(d.properties.name)
								zoomIn(d);
								refit(d3.select(this));
            })


				g.selectAll("path").data(data.features).exit().remove()

        map.on("moveend", update);

        update();

        function update() {
            featureElement.attr("d", path);
				}

				function zoomIn(d){
					//need to return a selected geojson with matching id
					map_level="continent";//d.properties.type
					d3.json(maps[map_level],drawFeatures)
				}



				function refit(obj){
					var bounds = obj.node().getBBox();
					console.log("corner in x,y space: " + L.point(bounds.x,bounds.y));
					console.log("lower corner in x,y space: " +L.point(bounds.x+bounds.width,bounds.y+bounds.height));
					var b = [map.layerPointToLatLng(L.point(bounds.x,bounds.y)),
												 map.layerPointToLatLng(L.point(bounds.x+bounds.width,bounds.y+bounds.height))];
						console.log("corner in lat,lng space: " + b[0]);
						console.log("corner in lat,lng space: " + b[1])		;
					map.fitBounds(b);
				}

    }

		function zoomOut(){
			//need to return a selected geojson with matching id
			map_level="world";//d.properties.type
			map.setView([0, 0], 2)
			d3.json(maps[map_level],drawFeatures)

		}

</script>


<!-- The Javascript gets loaded here -->
<!-- Steves code, keeping around for now, incase anything can be used

<script type="text/javascript">
	var map;
	var markerArray = [];
	var dataArray = [];
	var infowindow = new google.maps.InfoWindow({maxWidth: 300});

	var port = 8870;

	$(document).ready(function() {
		// Register Click events
		$("#resetLink").click( function(event){
			event.preventDefault();
			location.reload();
		});

		$("#clearLink").click( function(event){
			event.preventDefault();
			//Clear Markers
			setAllMap(null);
			google.maps.event.clearListeners(map, 'dragend');
			$("#photoNum").html("0");
		});

		$("#iPhoneLink").click( function(event){
			event.preventDefault();
			//Clear Markers
			setAllMap(null);
			google.maps.event.clearListeners(map, 'dragend');
			$("#photoNum").html("0");
			// --------- Call your edited getCameraData() function in here --------------------
			getCameraData();
		});

		// -------------- Put your click events here ------------------------------------------


		// ------------------------------------------------------------------------------------

		function initialize() {
			var mapOptions = {
				center: new google.maps.LatLng(51.514756, -0.104345),
				zoom: 14,
			 	styles: darkMap
			};

			map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

			google.maps.event.addListener(map, 'dragend', function() {
				var bounds = map.getBounds();
				console.log("SW: " + bounds.getSouthWest() + " NE: " + bounds.getNorthEast());
				console.log("Center: " + map.getCenter().lat() + ", " +  map.getCenter().lng());
				getData(map.getCenter().lat(), map.getCenter().lng());
			});

			getData(map.getCenter().lat(), map.getCenter().lng());
		}

		function getCameraData(cameraType, markerImg){
			console.log("Getting Data: " + cameraType + ", with Image: " + markerImg );

			setAllMap(null);
			markerArray = [];

			var url = "";
			console.log(url);
			console.log("Started ...");

			$.getJSON( url, function( data ) {
				$.each(data, function(k,v){

					var latLng = new google.maps.LatLng(v.points.y, v.points.x);

					dataArray.push(latLng);

					var marker = new google.maps.Marker({
      					position: latLng,
      					icon: "./img/" + markerImg,
      					customInfo: v.pid
      				});

					google.maps.event.addListener(marker, 'click', function(content) {
						return function(){
							infowindow.setContent("");

							map.setCenter(new google.maps.LatLng(v.points.y, v.points.x));
							$.getJSON("http://dev.spatialdatacapture.org:"+port+"/data/photoDescription/"+this.customInfo, function( data ) {
								var dateTaken = new XDate((data[0].date_uploaded * 1000)).toString("MMM d, yyyy HH:mm:ss");
								var content = "<b>Photo ID: </b>"+v.pid+"<br/> <br/><b>Description:</b><br/> "+data[0].description.replaceAll("+", " ")+" <br/> <br/><b>Date Taken: </b> "+dateTaken+" <br/><b>Camera: </b> "+data[0].device.replaceAll("+", " ")+"<br/><b>Location:</b> "+ v.points.y + ", " + v.points.x +" <br/><br/> <b>Photo</b> <br/><br/> <img src='"+data[0].download_url+"' width='300px' alt='Description'>";
						    	infowindow.setContent(content);
						    });

						    infowindow.open(map,this);
						}
					}(""));

					markerArray.push(marker);

      			});

      			$("#photoNum").html(data.length);
      			console.log("Done!");

      			setAllMap(map);
			});
		}

		function getData(lat, lng){
			var lat = lat.toFixed(2);
			var lng = lng.toFixed(3);

			console.log("Getting Data: " + lat + ", " + lng );

			setAllMap(null);
			markerArray = [];

			$.getJSON( "http://dev.spatialdatacapture.org:"+port+"/data/"+lat+"/"+lng+"/500", function( data ) {
				$.each(data, function(k,v){

					var latLng = new google.maps.LatLng(v.points.y, v.points.x);

					dataArray.push(latLng);

					var marker = new google.maps.Marker({
      					position: latLng,
      					icon: "./img/icon.png",
      					customInfo: v.pid
      				});

					google.maps.event.addListener(marker, 'click', function(content) {
						return function(){
							infowindow.setContent("");

							map.setCenter(new google.maps.LatLng(v.points.y, v.points.x));
							$.getJSON("http://dev.spatialdatacapture.org:"+port+"/data/photoDescription/"+this.customInfo, function( data ) {
								var dateTaken = new XDate((data[0].date_uploaded * 1000)).toString("MMM d, yyyy HH:mm:ss");
								var content = "<b>Photo ID: </b>"+v.pid+"<br/> <br/><b>Description:</b><br/> "+data[0].description.replaceAll("+", " ")+" <br/> <br/><b>Date Taken: </b> "+dateTaken+" <br/><b>Camera: </b> "+data[0].device.replaceAll("+", " ")+"<br/><b>Location:</b> "+ v.points.y + ", " + v.points.x +" <br/><br/> <b>Photo</b> <br/><br/> <img src='"+data[0].download_url+"' width='300px' alt='Description'>";
						    	infowindow.setContent(content);
						    });

						    infowindow.open(map,this);
						}
					}(""));

					markerArray.push(marker);

      			});

      			$("#photoNum").html(data.length);

      			setAllMap(map);
			});
		}

		google.maps.event.addDomListener(window, 'load', initialize);

	});

	//  ******************* FUNCTIONS TO USE FOR THE MAP YOU DON"T NEED TO EDIT ANYTHING BELOW THIS LINE **************************************************

	function createMarkers(){
		var marker = new google.maps.Marker({
  			position: latLng
  		});
	}

	function setAllMap(map) {
		for (var i = 0; i < markerArray.length; i++) {
			markerArray[i].setMap(map);
		}
	}

	function clearMarkers() {
		setAllMarkers(null);
	}

	String.prototype.replaceAll = function(str1, str2, ignore) {
    	return decodeURIComponent( this.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/g,"\\$&"),(ignore?"gi":"g")),(typeof(str2)=="string")?str2.replace(/\$/g,"$$$$"):str2) );
	}
	</script>
 -->


</body>
</html>
