<!DOCTYPE html>
<head>
  <title>MET Artwork Analysis</title>

  <link rel="stylesheet" type="text/css" href="./css/WebStyle.css">
  <link href="https://fonts.googleapis.com/css?family=Stylish" rel="stylesheet">


  </head>


<h2> How To Use Artwork Explorer </h2>

  <p>
    Step 1 - Select a time period for artwork exploration.

    <br> Step 2 - Select a category of Artwork.

      <br><b>There are over 100 categories, below are the most prominent:</b>

      Ceramics | Textiles | Sculpture |  Ornaments | Aerophones | Containers | Furniture | Codices | Chordophone | Silver |
      <br> Idiophone | Jewelry | Metalwork | Coins | Drawings | Paintings | Architectural | Costumes

    <br> Step 3 - Select a country or city
    <br> Step 4 - Explore similar artworks according to material or technique
</body>
