
html, body, #wrapper{
    height: 100%;
    width: 100%;
    margin: 0px;
}

#w3-top{

}

#main {
  position: absolute;
  height: calc(100% - 38px);
  top: 38px;
  width: 100%;
  margin: 0px;
}
#header{
    height: 100px;  //or whatever. Note px not %.
    width: 100%;
}

#footer{
    height: 100px;  //or whatever. Note px not %.
    width: 100%;
}

#map-canvas{
    height: 70%;
    width: 100%;
}

.title-header{
    margin: 0px;
}

#titleHeader{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    background-color: #cc0000;
    height:50px;
    font-size: 15px;
    top: 0px;
    width: 600px;
    right: 0%;
    color: #ffffff;
    text-align: center;
    z-index: 900;
}

#charts{
  position: absolute;
  height: 30%;
  width: 100%;
  bottom:1px;
}
#year-chart{
  text-align: center;
  height: 100%;
  width: 50%;
  bottom:00px;
  float: left;
}

#classification-chart{
  text-align: center;
  height: 100%;
  width: 50%;
  bottom:00px;
  float: right;
}

.wrapper {
    display: block;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}

/* .overlay {
    display: none;
    position: fixed;
    /* full screen */
    /* width: 100vw; */
    /* height: 100vh; */
    /* transparent black */
    /* background: rgba(0, 0, 0, 0.7); */
    /* middle layer, i.e. appears below the sidebar */
    /* z-index: 998; */
    /* opacity: 0; */
    /* animate the transition */
    /* transition: all 0.5s ease-in-out; */ */
/* } */
/* display .overlay when it has the .active class */
/* .overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    /* top: 10px; */
    /* right: 10px; */
/* } */


/* .demo { */
	/* padding-top: 60px; */
	/* padding-bottom: 110px; */
/* } */

/* .btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: #FFFFFF;
} */

/* .btn-demo:focus {
	outline: 0;
} */

/* .demo-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #212121;
	text-align: center;
}

.demo-footer > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}

.sidebar_l{
  position: absolute;
  width: 20%;
  left: 50px;
  top: 20px;
  height:50%;
}

.h6{
  color: white;
} */
